* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Raleway-Regular, sans-serif;
}

.title {
    color: crimson;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 200px;
}

.stats__wrapper {
    position: absolute;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 50px;

    & > * {
        width: 400px;
    }
}

.stats__title {
    font-size: 24px;
    color: crimson;
    padding-bottom: 20px;
}

.stats__details {
    display: flex;
    flex-flow: column;

    & > *:not(:last-child) {
        margin-bottom: 15px;
    }
}

.stats__main {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-flow: column;
    padding: 30px;

    a {
        text-decoration: none;
        color: crimson;
        transition: 0.1s;
        cursor: pointer;
        text-align: right;

        &:hover {
          color: black;
        }
    }

    & > * {
        margin-bottom: 15px;
    }
}

.dialog {
    padding: 30px;
}

.form__wrapper {
    left: 30%;
    padding-top: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: crimson;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
